@import url(‘https://fonts.googleapis.com/css2?family=Roboto&display=swap’);

*{    
    box-sizing: border-box; /* Buena práctica */
    padding: 0; /* Borra margenes propios del navegador */
    margin: 0; /* Borra margenes propios del navegador */
}
body{
    font-family:'Roboto', sans-serif; /* @import url */
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #830952;
    height: 150px;
}
.logo{
    background-image: url(/FrontEnd1/Clase11/EjercicioPruebaFlex/img/logo.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 55px;
}
nav{
    width: 55%;
}
nav ul{
    list-style: none;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;

}
nav ul li{
    background-color: rgb(255, 230, 0);
    border: solid #000000 2px;
    border-radius: 5%;
    width: 120px;
    height: auto; /* height: auto; importante para que funcione */
    padding: 15px;
    text-align: center;
}
nav a{
    color: black;
    text-decoration: none;
}
nav li:nth-child(1){
    order: 1;
    flex-grow: 1;
 }